body {
    font-family: -apple-system,'Helvetica Neue',Helvetica,sans-serif;
    font-weight: 400;
    background-color: #000000;
    text-align: center;
}
.center {
    text-align: center;
}
ol, ul, p {
    text-align: left;
}
ol, ul {
    list-style-type: disc;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

body,
a, a:hover {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: underline;
}

.podcast_title {
    padding: 0;
    margin: 0;
}

footer a,
ul li a {
    text-decoration: underline;}

h2 {
    text-transform: uppercase;
}
h2 a {
    text-decoration: none;
}
h2 a,
h2 a:visited {
    color: #FFFFFF;
}
h2 a:hover {
    color: #EE802F;
}
h2 a:hover {
    text-decoration: underline;
}
#content {
    max-width: 768px;
    margin: 0 auto;
}
#content section,
#content footer,
#content header {
    width: 100%;
}

hr,
.episode-count {
    color: #9a9d9e;
}

.episode {
    padding: 30px 0;
    border-top: 2px solid #9a9d9e;
}

.podcast_title {
    margin-bottom: 0;
}

.podcast_summary {
    text-align: center;
}

.podcast_author {
    text-transform: uppercase;
}

.subscribe {
    margin-top: 30px;
    margin-bottom: 30px;
}
.subscribe a img {
    padding: 10px;
}