<div class="episode">
    <small class="episode-count" id="s@seasoncount@e@episodecount@"><span><a href="./@episodecount@.html">EPISODE @episodecount@</a></span></small>
<h2 class="episode-title"><a href="./@episodecount@.html">@episodetitle@</a></h2>
<h3>@episodedate@</h3>
<p class="episode-summary">@episodesummary@</p>
<audio controls preload="none">
     <source src="@episodeurl@" type="audio/mpeg">
    Tu navegador no soporta el elemento audio.
</audio>
<p><small><a href="@episodeurl@">Descarga MP3</a> (@episodesize@ MB)</small></p>
<h3>Notas</h3>
<p class="episode-show-notes">@episodenotes@</p>
</div>