<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="date" content="@date_published@" />
    <meta name="last-modified" content="@date_modified@" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="@rss@" />
    <link type="text/css" rel="stylesheet" href="./assets/css/main.css">
    <title>@podcastName@</title>
    <link rel="icon" href="./assets/images/favicon.ico" type="image/png">
    <meta name="apple-itunes-app" content="app-id=@applePodcastId@"/>
    <meta name="description" content="@podcastDescription@" >
    <meta name="twitter:site" content="@twitter@">
    <meta name="twitter:creator" content="@twitter@">
    <meta property="og:url" content="@podcastUrl@"/>
    <meta property="og:title" content="@podcastName@ podcast"/>
    <meta name="twitter:title" content="@podcastName@ podcast">
    <meta property="og:description" content="@podcastDescription@"/>
    <meta name="twitter:description" content="@podcastDescription@.">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="@artwork@" />
    <meta name="twitter:image" content="@artwork@">
    <meta name="robots" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" id="viewport-iphone5" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
</head>
<body>
<main id="content" class="main-area">
    <header class="intro">
        <h1 class="podcast_title"><a href="./index.html" title="Ir a la página de inicio"><img src="@artwork@" alt="@podcastName@ Podcast" width="100%"/></a></h1>
        <p class="podcast_summary">@podcastDescription@</p>
        <div class="subscribe">
            @subscribe@
        </div>
    </header>
    <section class="episodes">@episodes@</section>
    <footer>
        <div class="subscribe">
            @subscribe@
        </div>
        <p class="center">
            <a href="@gitter@"><img src="./assets/images/gitter.svg" alt="Gitter"/></a>
            <a href="@github@"><img src="./assets/images/github.svg" alt="Github"/></a>
            <a href="@linkedin@"><img src="./assets/images/linkedin.svg" alt="LinkedIn"/></a>
            <a href="@youtube@"><img src="./assets/images/youtube-black.svg" alt="Youtube"/></a>
            <a href="https://twitter.com/@twitter@"><img src="./assets/images/twitter.svg" alt="Twitter"/></a>
            <a href="mailto:@mail@"><img src="./assets/images/mail.svg" alt="Mail"/></a>
        </p>
        <aside>@copyright@</aside>
    </footer>
</main>
</body>
</html>

